<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zsgc.dao.UserMapper">
	<!-- 
	查询所有数据 -->
	<resultMap id="aaa" type="user">
		<id column="id" property="id"/>
		<result column="name" property="name"/>
		<result column="price" property="price"/>
		<result column="password" property="password"/>
		<result column="sex" property="sex"/>
		<result column="tid" property="tid"/>
		<result column="birth" property="birth"/>
		<result column="link" property="link"/>

		<association property="userfu" javaType="userfu">
			<id column="t_id" property="t_id"/>
			<result column="namee" property="namee"/>
		</association>


	</resultMap>

	<select id="query" resultMap="aaa">
		select * from book as bo,boo as b where bo.tid=b.t_id order by id asc limit #{pageno},#{pagesize}
	</select>

	<select id="queryy" resultType="user">
		select * from book
	</select>
	
	<!--
	通过id查询数据 -->
	<select id="count" resultType="int" >
		select count(*) from book
	</select>
	
	<!-- 
	删除数据 -->
	<delete id ="delete" parameterType="int">
		delete from book where id=#{id}
	</delete>


	<!--
	添加数据 -->
	<insert id="increase" parameterType="user">
		insert into book(name,price,password,sex,tid,birth,link) value(#{name},#{price},#{password},#{sex},#{userfu.t_id},#{birth},#{link})
	</insert>

	<insert id="increas" parameterType="user">
		insert into book(name,price,password,sex,tid,birth,link) value(#{name},#{price},#{password},#{sex},#{userfu.t_id},#{birth},#{link})
	</insert>
	
	<!-- 
	修改数据-->
	<update id="modify" parameterType="user">
		update book set
		name=#{name},price=#{price},password=#{password},sex=#{sex},tid=#{tid},birth=#{birth},link=#{link}
		where id=#{id}
	</update>


	<select id="queryid" parameterType="int" resultType="user">
		select * from book where id=#{id}
	</select>
	

</mapper>